@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Open+Sans:400,700');

*,
*::before,
*::after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}

html {
   font-size: 62.5%;
}

body {
   background: #333745;
   box-sizing: border-box;
   color: #f7f7f7;
   font-size: 1.6rem;
   font-family: 'Open Sans', sans-serif;
   position: relative;
   min-height: 100vh;
}

.container {
   margin: 0 auto;
   max-width: 100rem;
   padding: 0 1rem;
}

.active {
   stroke: #000;
   stroke-width: 2px;
}

.chosen {
   fill: #8357c5;
}

.title {
   fill: #f7f7f7;
   font-size: 2.5rem;
   text-anchor: middle;
}

.error {
   background: #dc3545;
   border-radius: 4px;
   padding: 1.5rem 0;
   text-align: center;
   margin: 2rem auto;
}

svg {
   display: block;
   margin: 0 auto;
}

input,
label {
   cursor: pointer;
}

header,
footer {
   background: #20222b;
}

header {
   font-family: 'Nunito', sans-serif;
   font-weight: 700;
   font-size: 2.75rem;
   padding: 2.5rem 0;
}

footer {
   bottom: 0;
   padding: 2rem 0;
   position: absolute;
   text-align: center;
   width: 100%;
}

.ctrl {
   margin-bottom: 5rem;
}

.ctrl__item {
   display: flex;
   padding: 1rem 0;
   justify-content: center;
}

label:first-of-type,
#year-span {
   margin-right: 2rem;
}

#year-span {
   font-weight: 700;
}

#map {
   margin-bottom: 7rem;
}

#bar-chart {
   padding-bottom: 10rem;
}

.tooltip {
   background: rgba(0, 0, 0, .8);
   color: #fdfdfd;
   padding: 1rem;
   pointer-events: none;
   position: absolute;
   opacity: 0;
   top: 0;
}

.tooltip span {
   font-weight: 700;
}

.tooltip::after {
   pointer-events: none;
   display: block;
   content: '';
   position: absolute;
   border: 6px solid transparent;
   border-top-color: rgba(0, 0, 0, .8);
   left: calc((100% / 2) - 6px);
   bottom: -12px;
}