@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Open+Sans:400,700');

*,
*::before,
*::after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}

html {
   font-size: 62.5%;
}

body {
   background: #333745;
   box-sizing: border-box;
   color: #f7f7f7;
   font-size: 1.6rem;
   font-family: 'Open Sans', sans-serif;
}

.container {
   margin: 0 auto;
   max-width: 100rem;
   padding: 0 1rem;
}

header {
   background: #20222b;
   font-family: 'Nunito', sans-serif;
   font-weight: 700;
   font-size: 2.75rem;
   padding: 2.5rem 0;
}